*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    padding: 30px;
    background-color: red;
    border: 1px solid black;
}

nav{
    padding: 5px;
    border: 1px;
    background-color: yellow;
}

nav ul > li{
    display: inline;
    padding: 10px;
}

aside{
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 460px;
    background-color: rgb(30, 87, 138);
}

aside ul > li{
    list-style-type: none;
    padding: 5px;
}

article{
    float: left;
    padding: 10px;
    width: 80%;
    height: 460px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
} 

iframe{
    width: 500px;
    height: 200px;
}



footer{
    float: inline;
    background-color: violet;
    border: 1px solid black;
    padding: 10px;
}

a:link{
    text-decoration: none;
}